<section class="candy-section" id="candy">
  <div class="candy-wrap container">
    <div class="history-wrapper">
        <div class="title-wrap">
          <img class="title-board" src="./img/mobile/title-board.png" alt="Title background" />
          <h2 class="history-title">Kingdom Chronicles: A Candy Timeline</h2>
        </div>
        <p class="history-description">
          Each candy land has its tale. Explore the Queen's rise, her exile into
          the Shadowed Sugarlands, and her triumphant return.
        </p>
      </div>
      <div class="wrapper-1">
        <ul class="history-events-list">
          <li class="event-card-item">
            <img
              src="./img/mobile/candy-timeline-1.png"
              alt="event illustration"
              class="event-image"
            />
            <p class="event-text">Year 0 – Founding of Jelly Crown Kingdom</p>
          </li>
          <li class="event-card-item">
            <img
              src="./img/mobile/candy-timeline-2.png"
              alt="event illustration"
              class="event-image"
            />
            <p class="event-text">Year 5 – Rise of Chocolate Golems</p>
          </li>
          <li class="event-card-item">
            <img
              src="./img/mobile/candy-timeline-3.png"
              alt="event illustration"
              class="event-image"
            />
            <p class="event-text">
              Year 6 – Lulu rides Puffmellow to reclaim the sugar skies
            </p>
          </li>
        </ul>
        <ul class="history-events-list-2">
          <li class="event-card-item">
            <img
              src="./img/mobile/candy-timeline-4.png"
              alt="event illustration"
              class="event-image"
            />
            <p class="event-text">
              Year 9 – Candy Map unlocked for free puzzle travel
            </p>
          </li>
          <li class="event-card-item">
            <img
              src="./img/mobile/candy-timeline-5.png"
              alt="event illustration"
              class="event-image"
            />
            <p class="event-text">Year 10 – The Age of Infinite Levels begins</p>
          </li>
        </ul>
      </div>
  </div>
</section>
