<section class="carousel-section" id="carousel">
  <div class="carousel-content-wrap container">
    <div class="title-wrap">
      <img class="title-board" src="./img/mobile/title-board.png" alt="Title background" />
      <h2 class="carousel-title">Royal Carousel of Surprises</h2>
    </div>
    <p class="carousel-subtitle">Every day holds something new in the Queendom:</p>
    <div class="carousel-list-wrap">
      <ul class="carousel-list cl-1">
        <li class="carousel-list-item">
          <img class="carousel-list-img" src="./img/carousel-img-1.png" alt="">
          <p class="carousel-list-text">Cookie Tournaments</p>
          <p class="carousel-list-text">Compete in time-limited events</p>
        </li>
        <li class="carousel-list-item">
          <img class="carousel-list-img" src="./img/carousel-img-2.png" alt="">
          <p class="carousel-list-text">Sugar Roulette</p>
          <p class="carousel-list-text">Spin for boosters or rare decorations</p>
        </li>
      </ul>
      <ul class="carousel-list cl-2">
        <li class="carousel-list-item">
          <img class="carousel-list-img" src="./img/carousel-img-3.png" alt="">
          <p class="carousel-list-text">Crown Gifts</p>
          <p class="carousel-list-text">Daily login sweets & costumes</p>
        </li>
        <li class="carousel-list-item">
          <img class="carousel-list-img" src="./img/carousel-img-4.png" alt="">
          <p class="carousel-list-text">Friendship Cakes</p>
          <p class="carousel-list-text">Send bonuses to allies and get coins in return</p>
        </li>
      </ul>
    </div>
  </div>
</section>