<section class="confetti-archives" id="confetti">
  <div class="confetti-content-wrap container">
    <div class="title-wrap">
      <img class="title-board" src="./img/mobile/title-board.png" alt="Title background" />
      <h2 class="confetti-title">Confetti Archives: Visual Showcase</h2>
    </div>
    <div class="confetti-swiper swiper">
      <div class="confetti-swiper-wrapper swiper-wrapper">
        <div class="confetti-swiper-slide swiper-slide">
          <img src="./img/gallery-slide-1.png" alt="">
        </div>
        <div class="confetti-swiper-slide swiper-slide">
          <img src="./img/gallery-slide-2.png" alt="">
        </div>
        <div class="confetti-swiper-slide swiper-slide">
          <img src="./img/gallery-slide-3.png" alt="">
        </div>
        <div class="confetti-swiper-slide swiper-slide">
          <img src="./img/gallery-slide-4.png" alt="">
        </div>
        <div class="confetti-swiper-slide swiper-slide">
          <img src="./img/gallery-slide-5.png" alt="">
        </div>
      </div>
      <div class="confetti-swiper-btn-wrap">
        <button class="confetti-swiper-btn-left">
          <img class="arrow-left-img" src="./img/arrow-left.png" alt="" />
        </button>
        <button class="confetti-swiper-btn-right">
          <img class="arrow-right-img" src="./img/arrow-right.png" alt="" />
        </button>
      </div>
    </div>
  </div>
</section>