<section class="cookie-modal">
  <div class="cookies-wrap container">
    <div class="cookkie-text-wrap">
      <p class="cookies-modal-text">
        Our website use cookies. By continuing, we assume your permission to deploy cookies as detailed in our Privacy Policy.
      </p>
    </div>
    <div class="cookies-btn-wrap">
      <button class="cookies-decline cookie-btn"><p class="cookie-text-btn">Decline</p></button>
      <button class="cookies-accept cookie-btn"><p class="cookie-text-btn">Accept cookies</p></button>
    </div>
    <button class="close-cookies-modal-btn"><img class="close-cookie" src="./img/close-cookie.png" alt=""></button>
  </div>
</section>