<footer>
  <div class="footer-section container">
    <div class="footer-content-wrap">
      <p class="footer-text">© 2025 sugarqueenblitz.com</p>
      <ul class="footer-list">
        <li class="footer-list-item">
          <a class="footer-link" href="./privacy-policy.html">Privacy Policy</a
          ><span class="footer-span">|</span>
        </li>
        <li class="footer-list-item">
          <a class="footer-link" href="./terms-and-conditions.html"
            >Terms and Conditions</a
          ><span class="footer-span">|</span>
        </li>
        <li class="footer-list-item">
          <a class="footer-link" href="./cookies-policy.html">Cookies</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
