<header class="header-section">
  <div class="header-wrap container">
    <button class="open-menu-btn" aria-label="Close menu">
      <img src="./img/mobile/burger-menu-btn.png" alt="" />
    </button>
    <button class="close-menu-btn">
      <img src="./img/mobile/close-menu.png" alt="" />
    </button>
  </div>
</header>

<div class="backdrop container">
  <nav class="backdrop-nav">
    <ul class="backdrop-list">
      <li class="backdrop-list-item"><a class="bg-link" href="/#hero">Hero</a></li>
      <li class="backdrop-list-item">
        <a class="bg-link" href="/#candy">Candy Timeline</a>
      </li>
      <li class="backdrop-list-item">
        <a class="bg-link" href="/#royal">Royal Gadgets</a>
      </li>
      <li class="backdrop-list-item">
        <a class="bg-link" href="/#levelscape">Levelscape</a>
      </li>
      <li class="backdrop-list-item">
        <a class="bg-link" href="/#carousel">Carousel Surprises</a>
      </li>
      <li class="backdrop-list-item">
        <a class="bg-link" href="/#knights">Frosted Knights</a>
      </li>
      <li class="backdrop-list-item">
        <a class="bg-link" href="/#victory">Victory Recipes</a>
      </li>
      <li class="backdrop-list-item">
        <a class="bg-link" href="/#confetti">Confetti Archives</a>
      </li>
      <li class="backdrop-list-item">
        <a class="bg-link" href="./cookies-policy.html">Cookies Policy</a>
      </li>
      <li class="backdrop-list-item">
        <a class="bg-link" href="./privacy-policy.html">Privacy Policy</a>
      </li>
      <li class="backdrop-list-item">
        <a class="bg-link" href="./terms-and-conditions.html">Terms and Conditions</a>
      </li>
    </ul>
  </nav>
</div>
