<section class="hero-section" id="hero">
  <div class="hero-background container">
    <div class="hero-content-wrap">
      <img
        class="hero-logo"
        src="./img/mobile/queen-quest-logo.png"
        alt="Game logo"
      />
      <div class="hero-texts">
        <h1 class="hero-title">
          The Queen Returns — New Puzzle Adventures Across the Candy Realms!
        </h1>
        <p class="hero-subtitle">
          Princess Lulu is back — and she's bringing her candy dragon, a crown
          full of boosters, and access to all puzzle levels without
          restrictions.
        </p>
      </div>
      <a href="#" class="hero-btn">
        <img src="./img/mobile/play-now.png" alt="" />
      </a>
    </div>
  </div>
</section>
