<section class="levelscape-section" id="levelscape">
  <div class="levelscape-content-wrap container">
    <div class="title-wrap">
      <img
        class="title-board"
        src="./img/mobile/title-board.png"
        alt="Title background"
      />
      <h2 class="levelscape-title">Levelscape Observatory</h2>
    </div>
    <div class="levelscape-text-wrap">
      <p class="levelscape-text">
        No more linear traps! In Queen Quest, the map is yours to rule.
      </p>
      <p class="levelscape-text levelscape-desktop-text-1">
        Zoom in and choose which levels you want to play. Hate jelly traps? Skip
        'em. Prefer gem-sliding mazes? Jump right in. Every island has its own
        taste and challenge.
      </p>
    </div>
    <ul class="levelscape-list">
      <li class="levelscape-list-item">
        <img class="levelscape-img" src="./img/stars.png" alt="star">
        <p class="levelscape-text-2">Marshmallow Depths</p>
      </li>
      <li class="levelscape-list-item">
        <img class="levelscape-img" src="./img/stars.png" alt="star">
        <p class="levelscape-text-2">Toffee Temples</p>
      </li>
    </ul>
    <ul class="levelscape-list-2">
      <li class="levelscape-list-item">
        <img class="levelscape-img" src="./img/stars.png" alt="star">
        <p class="levelscape-text-2">Lollipop Mountains</p>
      </li>
      <li class="levelscape-list-item">
        <img class="levelscape-img" src="./img/stars.png" alt="star">
        <p class="levelscape-text-2">Crystal Candy Clouddomes</p>
      </li>
    </ul>
  </div>
</section>
