<section class="royal-section" id="royal">
  <div class="royal-content-wrap container">
    <div class="royal-section-header">
      <div class="title-wrap">
        <img class="title-board" src="./img/mobile/title-board.png" alt="Title background" />
        <h2 class="royal-section-title">Cabinet of Royal Gadgets</h2>
      </div>
      <p class="royal-section-subtitle">
        Inside the Queen’s Puzzle Chamber, magical tools await:
      </p>
    </div>
    <div class="royal-swiper swiper">
      <ul class="swiper-wrapper royal-section-list" role="list">
        <li class="swiper-slide royal-card">
          <img
            class="royal-card-img"
            src="./img/royal-gadgets-slide-1.png"
            alt="Cocoa Bombs"
          />
          <h3 class="royal-card-title">Cocoa Bombs</h3>
          <p class="royal-card-desc">
            Explode entire sections when matched with chocolate tiles.
          </p>
        </li>

        <li class="swiper-slide royal-card">
          <img
            class="royal-card-img"
            src="./img/royal-gadgets-slide-2.png"
            alt="Rainbow Rolls"
          />
          <h3 class="royal-card-title">Rainbow Rolls</h3>
          <p class="royal-card-desc">Match with any candy.</p>
        </li>

        <li class="swiper-slide royal-card">
          <img
            class="royal-card-img"
            src="./img/royal-gadgets-slide-3.png"
            alt="Frosted Shields"
          />
          <h3 class="royal-card-title">Frosted Shields</h3>
          <p class="royal-card-desc">Block unwanted obstacles.</p>
        </li>

        <li class="swiper-slide royal-card">
          <img
            class="royal-card-img royal-card-img--large"
            src="./img/royal-gadgets-slide-4.png"
            alt="Dragon Blasts"
          />
          <h3 class="royal-card-title">Dragon Blasts</h3>
          <p class="royal-card-desc">
            Lulu’s ultimate reward for mastering long combos.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
