<section class="victory-recipes" id="victory">
  <div class="victory-content-wrap container">
    <div class="title-wrap">
      <img
        class="title-board"
        src="./img/mobile/title-board.png"
        alt="Title background"
      />
      <h2 class="victory-title">Recipes of Victory</h2>
    </div>
    <div class="victory-swiper swiper">
      <div class="victory-swiper-wrapper swiper-wrapper">
        <div class="victory-swiper-slide swiper-slide victory-slide-3">
          <div class="scroll-wrap">
            <img class="victory-swiper-img" src="./img/scroll.png" alt="" />
            <div class="scroll-text-wrap">
              <h3 class="scroll-swiper-title">"Layer Up!"</h3>
              <p class="scroll-swiper-text">
                Stack boosters in the same move to unlock Combo Royale Mode
              </p>
            </div>
          </div>
        </div>
        <div class="victory-swiper-slide swiper-slide victory-slide-4">
          <div class="scroll-wrap">
            <img class="victory-swiper-img" src="./img/scroll.png" alt="" />
            <div class="scroll-text-wrap">
              <h3 class="scroll-swiper-title">"Plan the Path"</h3>
              <p class="scroll-swiper-text">
                Even on open maps, some levels unlock decorative rewards — pick
                accordingly!
              </p>
            </div>
          </div>
        </div>
        <div class="victory-swiper-slide swiper-slide victory-slide-1">
          <div class="scroll-wrap">
            <img class="victory-swiper-img" src="./img/scroll.png" alt="" />
            <div class="scroll-text-wrap">
              <h3 class="scroll-swiper-title">"Slice the Sour"</h3>
              <p class="scroll-swiper-text">
                Licorice can be neutralized with horizontal rainbow blasts
              </p>
            </div>
          </div>
        </div>
        <div class="victory-swiper-slide swiper-slide victory-slide-2">
          <div class="scroll-wrap">
            <img class="victory-swiper-img" src="./img/scroll.png" alt="" />
            <div class="scroll-text-wrap">
              <h3 class="scroll-swiper-title">"Speed is Sweet"</h3>
              <p class="scroll-swiper-text">
                In mini-games, don't wait to line up perfect matches — pressure
                triggers dragon assist faster
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
