.cookies-wrap {
  position: fixed;
  left: 50%;
  bottom: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%);
  box-shadow: 0 14px 42px 0 rgba(8, 15, 52, 0.06);
  background: #fff;
  border: 1px solid #651fff;
  border-radius: 20px;
  width: 335px;
  height: 278px;

  z-index: 9999;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 180px;
  }
}

.cookkie-text-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  @include media(desktop) {
    width: 648px;
    margin-right: 67px;
  }
}

.cookies-modal-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #2b2a32;
  width: 256px;
  @include media(desktop) {
    width: 100%;
    margin-left: 120px;

  }
}

.cookies-btn-wrap {
  display: flex;
  gap: 18px;
  margin-bottom: 20px;
  @include media(desktop) {
    gap: 20px;
    margin-bottom: 0;
  }
}

.cookies-accept {
  border-radius: 56px;
  padding: 18px 26px;
  width: 174px;
  height: 54px;
  box-shadow: 0 3px 12px 0 rgba(74, 58, 255, 0.18);
background: #651fff;

@include media(desktop) {
  order: 1;
}
}

.cookies-decline {
  border: 1px solid #eff0f6;
  border-radius: 56px;
  padding: 18px 26px;
  width: 109px;
  height: 54px;
  box-shadow: 0 4px 8px 0 rgba(74, 58, 255, 0.08);
background: #fff;
@include media(desktop) {

  order: 2;
}
}

.cookies-decline .cookie-text-btn {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  color: #2b2a32;
}

.cookies-accept .cookie-text-btn {
  font-family: "Inter", sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.125;
color: #fff;
}

.cookie-text-btn {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #101012;
  white-space: nowrap;
}


.close-cookies-modal-btn {
  position: absolute;
  top: 26px;
  right: 28px;
  width: 14px;
  height: 14px;
  @include media(desktop) {
    position: static;
    top: 0;
  }
}